body {
    width: 400px;
    
}
button {
    padding: 0;
    border: solid 1px black;
    width: 100px;
    height: 100px;
    background-color: transparent;
    cursor: pointer;
    margin: 20px;
}
.selection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
}


.output {
    text-align: center;
}

button:hover {
    transform: scale(1.1);
    border: solid red;
}

button:focus {
    outline: solid red;
    border: none;
}