body {
    width: 500px;
    
}
button {
    padding: 0;
    border: solid 1px black;
    width: 100px;
    height: 100px;
    background-color: transparent;
    cursor: pointer;
    margin: 20px;
}
.selection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
}

@keyframes woah {
    0% {background-color: purple;}
    25% {background-color: yellow;}
    50% {background-color: blue;}
    75% {background-color: orange;}
    100% {background-color: green;}
}

.winner {
    background-color: purple;
    font-size: 24px;
    color: white;
    animation-name: woah;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.output {
    text-align: center;
}

button:hover {
    transform: scale(1.1);
    border: solid red;
}

button:focus {
    outline: solid red;
    border: none;
}